{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Sushiman Hero
{% endblock %}
{% block content %}
        <section class="hero" >
      <div class="hero-image">
        <img src="{% static 'assets/sushi-1.png' %}" alt="sushi" data-aos="fade-up">
        <h2 data-aos="fade-up">
          日<br>
          本<br>
          食
        </h2>
        <div class="hero-image__overlay">

        </div>
      </div>
      <div class="hero-content">
        <div class="hero-content-info" data-aos="fade-left" >
          <h1> Feel the taste of japanese food </h1>
          <p>Feel the taste of the most popular japanese food from anywhere and anytime.</p>
          <div class="hero-content__buttons">
           <button class="hero-content__order-button">
            Order Now
           </button>
           <button class="hero-content__play-button">
            <img src="{% static 'assset/play.png' %}" alt="play">
            How to order
           </button>
          </div>
        </div>
        <div class="hero-content__testimonial">
          <div class="hero-content__customer flex-center" data-aos="fade-up">
            <h4>24<span>K+</span></h4>
            <p>Happy customers</p>
          </div>
          <div class="hero_content__review">
            <img src="{% static 'assets/user.png' %}" alt="user">
            <p>"This is the best Japanese food delivery service ever existed."</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}